*.lock
*.properties
*.bin
*.probe
*.class
*.dll
*.pdb
TankBotAdvanced/build/libs/TankBotAdvanced.jar
TankBotAdvanced/build/tmp/jar/MANIFEST.MF
2025-ParadeTankUpdated/build/reports/problems/problems-report.html
